In [24]:
#this is a comment
print('hello')  #this is the first
print('world')

# print('test')

print(34)

hello
world
34

In [36]:
#io
print('hello world') #display some text on the screen

name = input('Enter your name: ') #get some text from the user

print(name)

hello world
paul

In [ ]:
#simple data types
#number (int, float)
    #int: 1 10 -1000  999 
    #float: 10.5 1.0 -4.5003
#string
    # '', "", "a", "tom", "today is saturday", "test @@££54\dhuw@$%^&", "12"

#boolean
    #True False
    #1    0

In [ ]:
#declare and initialise a variable

#2umber=10 #cannot start a variable name with a number
# num∞ber=10 #cannot use special characters in a variable name
num_ber=10 #can use underscore in a variable name

number2=10
num2ber=10

Number=10 #dont start with an uppercase letter

number_2=72.5

temp=10
humidity=16

first_name='Tom'
firstName='Tom'

In [1]:
name="eric"

print(name)


age=34
print(age)

married=False #True
print(married)

eric
34
False

In [30]:
name='Tom'
age=34

print(name,"is",age,"years old")

Tom is 34 years old

In [31]:
print("Name:",name)
print("Age:",age)

Name: Tom
Age: 34

In [35]:
print("Name:",name,"\nAge:",age)

#\n is newline \t is tab

Name: Tom
'Age': 34

In [37]:
type(name)

str

In [38]:
type(age)

int

In [40]:
name='Tom'
age=34

#string formatting
print("My name is {} and I am {} years old".format(name,age))

#string interpolation
print(f"My name is {name} and I am {age} years old")

My name is Tom and I am 34 years old
My name is Tom and I am 34 years old

In [43]:
num1=10
num2=5

#addition
result1= num1+num2
print(result1)

#subtraction
result2= num1-num2
print(result2)

#multiplication
result3= num1*num2
print(result3)

#division
result4= num1/num2
print(result4)

#exponent
result5=num1**2
print(result5)

#modulus
result6=num1%num2
print(result6)

15
5
50
2.0
100
0

In [44]:
result= 10*5/(2+3)-1

#BODMAS
print(result)

9.0

In [45]:
#casting
total=10.0
total=int(total)
print(total)

10

In [4]:
marks="45"
print(marks+1)
# marks=int(marks)
# print(marks+1)

TypeError: can only concatenate str (not "int") to str

In [50]:
x=0000000000100.500000000000
print(x)


y=10.00000000001
print(y)

100.5
10.00000000001